<table class="table is-fullwidth">
    <thead>
        <tr>
            <th>Site</th>
            <th>Year</th>
            <th>Location</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each placemark.sites}}
        <tr>
            <td>
                {{title}}
            </td>
            <td>
                {{year}} {{era}}
            </td>
            <td>
                Latitude: {{latitude}}
                <br>
                Longitude: {{longitude}}
            </td>
            <td>
                {{description}}
            </td>
            <td>
                <a href="/placemark/{{../placemark._id}}/deletesite/{{_id}}" class="button">
                <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>