<table class="table is-fullwidth">
    <thead>
        <tr>
            <th>Site</th>
            <th>Year</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {{#each placemark.sites}}
        <tr>
            <td>
                {{title}}
            </td>
            <td>
                {{year}} {{era}}
            </td>
            <td>
                {{latitude}}
            </td>
            <td>
                {{longitude}}
            </td>
            <td>
                {{description}}
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>